<div class="hero-unit">
  	<h1>Food Nutrients</h1>
	<input type="text" id="filterTextBox" ng-model="foodDescription.id">
	<button ng-click="searchNutrients()">Filter</button>

  	<div ng-show="results">
	  <p>List of nutrients</p>
	  <ul>
	      <!--<li ng-repeat="nutrient in results.nutrients">{{nutrient.food.longDescription}} - {{nutrient.definition.description}} : {{nutrient.amountPer100Grams}}</li>-->
	      <li>{{results.food.longDescription}} - {{results.definition.description}} : {{results.amountPer100Grams}}{{results.definition.unit}}</li>
	  </ul>
	</div>
</div>
